{% extends "design1.html" %}
{% block title %}Login - Teachers{% endblock %}
{% block css %}{%load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/studentstyle.css' %}">
{% endblock %}
{% block content %}
<div class="loginbox">
  {% load static %}<img src="{% static 'avatar.jfif' %}" class="avatar">
  <p id="title" align="center" style="font-family: sans-serif; font-size:30px;">Login</p>
  <form action="generateotp", method="POST">{% csrf_token %}
    <input type="tel" placeholder="Phone Number" name="mobile" id="mobilenumber" required>
    <input type="password" placeholder="Password" name="password" id="password" required>
    <button id="submitbutton">Submit</button>
</div>
</form>
</h1>
{% endblock %}